import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv(r'C:\Users\User\OneDrive\Desktop\data\AA.csv')
df.dtypes
df.head()
#Id             int64
#GameID         int64
#Username      object
#Bet            int64
#CashedOut    float64
#Bonus        float64
#Profit       float64
#BustedAt     float64
#PlayDate      object
len(df)
df.isna().sum()
df = df.dropna(subset=['CashedOut', 'Bonus', 'Profit'])
df.isna().sum()

# Hatalı değer listesi
bad_vals = ["", " ", "NA", "N/A", "na", "Na", "NULL", "Null", "null", "None", "-", "—", "?"]
df.map(lambda x: str(x).strip() in bad_vals) ## bu degerleri gosterir  bad vals icerisidne olan. yoxdur.(tek na degil bosluk eh seyi check ettik)


df['PlayDate'] = pd.to_datetime(df['PlayDate'], errors='coerce') # PlayDate sütununu datetime formatına çevirdik:

df['Date'] = df['PlayDate'].dt.date  # Tarih ve saat olarak iki ayrı sütun oluşturduk
df['Time'] = df['PlayDate'].dt.time

# Sonucu göruyoruz
print(df[['Username', 'Date', 'Time']].head()) ## ayrica ekranda gosterir

df = df.drop(columns=['PlayDate']) # play date sutunu silirik, lazim degil

# 1)Günlük aktif kullanıcı sayısını (DAU) hesaplayalim
dau = df.groupby('Date')['Username'].nunique().rename('DAU').reset_index()
dau.plot(x='Date', y='DAU', kind='line', figsize=(8,4), title='Daily Active Users (DAU)')

# 1. Date sütununu datetime64'e çevirek, Datetime olmasi gerekli
df['Date'] = pd.to_datetime(df['Date'])

# 2) Aylık bazda gruplamak için yeni sütun oluşturalim simdi
df['Month'] = df['Date'].dt.to_period('M')

# 3. MAU (Monthly Active Users) hesapla
mau = df.groupby('Month')['Username'].nunique().rename('MAU').reset_index()

# 4. Grafiği çizdik
mau.plot(x='Month', y='MAU', kind='bar', figsize=(8,4), title='Monthly Active Users (MAU)')


## OYUNCULAR bahis atıyor mu, cashed out ediyor mu, profit alıyor mu
#örnek: kullanıcı başına event bazlı funnel
users = df.groupby('Username').agg(n_bets=('Bet','count'),
                                   total_bet=('Bet','sum'),
                                   total_cashed=('CashedOut','sum'),
                                   total_profit=('Profit','sum')).reset_index()
# kaç kullanıcının hiç cashed out yaptığı:
(users['total_cashed']>0).mean() = 1.0

# Retention oyuncular ilk oynadıktan sonra kaç gün aktif kalıyor?  ek sutun acilir, ve orda yazilir
#cohort: kullanıcının ilk oyun tarihini bul, sonra retention tablosu oluştur
first_date = df.groupby('Username')['Date'].min().rename('first_date').reset_index()
df2 = df.merge(first_date, on='Username')
df2['days_since_first'] = (pd.to_datetime(df2['Date']) - pd.to_datetime(df2['first_date'])).dt.days
# pivot: cohort by first_date x days_since_first -> count unique users
display(users.head(10))   # ilk 10 kullanıcıyı göster
display(df2.head(10))     # cohort verisinin ilk satırları

users.head(10)


